# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Logs
logs
*.log

# Environment variables
.env
.env.local
.env.*.local

# Build files
dist/
build/
out/

# Editor-specific files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Miscellaneous
*.bak
*.swp
